@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.mui-14mgmha-MuiTypography-root {
  font-size: small !important;
}

.text-editor > h1 {
 font-size: 2rem;
}
.text-editor > h2 {
 font-size: 1.75rem;
}
.text-editor > h3 {
 font-size: 1.5rem;
}
.text-editor > h4 {
 font-size: 1.25rem;
}
.text-editor > h5 {
 font-size: 1rem;
}
.text-editor > h6 {
 font-size: 0.75rem;
}
.text-editor > ul {
 list-style:  disc;
}
.text-editor > ul > li {
 margin-left: 28px;
}

/* global animated float */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
@keyframes floatX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-float-cloud {
  animation: floatX 6s ease-in-out infinite;
}
/* global animated float end*/